@charset "UTF-8";
/*** Variables ***/
/** Thème Couleurs **/
/** Breakpoints **/
/** Padding **/
/** Typographie **/
/*** Mixins ***/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap);
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

/*
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
}
button:active {
  outline: none;
}

.button {
  font-weight: 500;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  background: #fff;
  border-radius: 2.2rem;
  position: relative;
  box-shadow: 0rem 0.2rem 0.4rem 0rem #cecece;
  cursor: pointer;
}
.button--cta {
  padding: 1.2rem;
  min-width: 13rem;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: #fff;
}
.button--usage {
  margin: 0 0 0 0.8rem;
  padding: 1.2rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  display: flex;
  cursor: auto;
}
.button--usage p {
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
.button--usage i.fas {
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0.3rem;
  color: #7e7e7e;
}
.button--usage::before {
  counter-increment: number;
  content: counter(number);
  position: absolute;
  background: #9356dc;
  color: #fff;
  clip-path: circle();
  left: -0.8rem;
  top: 0.8rem;
  padding: 0.5rem;
}

.container-card {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 37.4812593703vh;
}
@media only screen and (orientation: landscape) {
  .container-card {
    grid-auto-rows: 50vh;
  }
}
@media only screen and (min-width: 1200px) {
  .container-card {
    grid-auto-rows: 35vh;
  }
}

.card {
  background: #fff;
  border-radius: 1.2rem;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 4.688rem;
  box-shadow: 0rem 0.2rem 0.4rem 0rem #cecece;
  overflow: hidden;
}
.card__img-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}
.card__img-wrapper source {
  display: none;
}
.card__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__txt {
  position: relative;
  align-self: center;
  margin: 0 0 0 1rem;
}
.card__txt .card__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
}
.card__txt .card__location {
  font-size: 1.075rem;
  font-weight: 300;
  color: #000;
  font-family: Roboto, sans-serif;
}
.card__txt .card__like {
  position: absolute;
  right: 1rem;
  bottom: 0.7rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__txt .card__like > * {
  background: #000;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__txt .card__like i.far.fa-heart {
  transform: scale(1.5, 1.7);
}
.card__txt .card__like i.fas.fa-heart {
  position: absolute;
  opacity: 0%;
  transform: scale(0);
  transition: all 0.5s 0.2s linear;
}
.card__txt .card__like:hover > * {
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__txt .card__like:hover i.fas.fa-heart {
  opacity: 100%;
  transform: scale(1.5, 1.7);
}

/* Accueil **************************************************************************************/
nav {
  text-align: center;
}
nav > * {
  padding: 0.4rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
}
nav h1 {
  position: relative;
  box-shadow: 0rem 0.2rem 0.4rem 0rem #cecece;
  font-family: Shrikhand, cursive;
  font-size: 1.875rem;
  color: #000;
  font-weight: 400;
}
nav h1 i.fas {
  position: absolute;
  left: max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
  top: 1.2rem;
  font-size: 1.3rem;
}
nav .location {
  background: #eaeaea;
}
nav .location p {
  margin: 0.4rem 0;
  font-weight: 500;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
nav .location .fas {
  margin: 0 1rem 0 -1rem;
}

header {
  display: grid;
  grid-template-areas: "hero" "usage";
  text-align: center;
}
@media only screen and (min-width: 768px) {
  header {
    grid-template-areas: "hero usage";
    grid-auto-columns: 1fr;
    gap: 2rem;
    padding: 0 max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
    margin: 2rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    grid-auto-columns: 2fr 1fr;
  }
}
header > * {
  padding: 2rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .hero {
  grid-area: hero;
  background: #f6f6f6;
}
@media only screen and (min-width: 768px) {
  header .hero {
    padding: 2rem;
    border-radius: 2rem;
  }
}
header .hero h1 {
  width: 85%;
  margin: 0 auto 1rem auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
}
header .hero p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: #000;
  font-family: Roboto, sans-serif;
}
header .hero .button {
  margin-bottom: 2rem;
}
header .usage {
  grid-area: usage;
}
@media only screen and (min-width: 768px) {
  header .usage {
    padding: 2rem 0;
  }
}
header .usage h1 {
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
}
header .usage .container {
  counter-reset: number;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
header .usage .container .button.button--usage:nth-of-type(1) i.fas {
  transform: scale(1.3, 1.2);
}
header .usage .container .button.button--usage:nth-of-type(n + 2) i.fas {
  transform: scale(0.9, 1.1);
}
header .usage .container .button.button--usage:nth-of-type(3) {
  background: #f4ebff;
}
header .usage .container .button.button--usage:nth-of-type(3) i.fas {
  color: #9356dc;
}

main.accueil {
  padding: 2rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
  background: #f6f6f6;
}
@media only screen and (min-width: 1200px) {
  main.accueil {
    padding: 2rem;
    margin: 2rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
    border-radius: 2rem;
  }
}
main.accueil h1 {
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
}

footer {
  padding: 1rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2) 2rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
  background: #353535;
}
footer h1 {
  margin: 0 0 1rem 0;
  color: #fff;
  font-family: Shrikhand, cursive;
  font-size: 1.125rem;
  font-weight: 400;
}
footer li {
  margin: 0 0 0.5rem 0;
}
footer li i.fas {
  margin: 0 0.6rem 0 0;
  font-size: 0.725rem;
}
footer li:nth-of-type(-n + 2) a {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
footer li:nth-of-type(n + 3) a {
  color: #fff;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

/* Menu - Pages **********************************************************************************/
main.menu {
  padding: 0;
  padding-top: 13.75rem;
  position: relative;
  background: none;
}
@media only screen and (min-width: 768px) {
  main.menu {
    padding-bottom: 4rem;
  }
}
main.menu picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 17rem;
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  main.menu picture {
    height: 100%;
  }
}
main.menu picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main.menu .carte {
  background: #f6f6f6;
  padding: 1.8rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2) 6rem max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
  border-radius: 3rem 3rem 0 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  main.menu .carte {
    margin: 0 max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2) 0 max(calc( 20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065) ), (100vw - 1200px) / 2);
    padding: 1.8rem 2rem 4rem 2rem;
    border-radius: 3rem;
  }
}
main.menu .carte__title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}
main.menu .carte__title h1 {
  font-family: Shrikhand, cursive;
  font-size: 1.875rem;
  color: #000;
  font-weight: 400;
  margin: 0;
}
main.menu .carte__title .carte__like {
  margin: 0.3rem 1rem 0 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main.menu .carte__title .carte__like > * {
  background: #000;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main.menu .carte__title .carte__like i.far.fa-heart {
  transform: scale(1.5, 1.7);
}
main.menu .carte__title .carte__like i.fas.fa-heart {
  position: absolute;
  opacity: 0%;
  transform: scale(0);
  transition: all 0.5s 0.2s linear;
}
main.menu .carte__title .carte__like:hover > * {
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main.menu .carte__title .carte__like:hover i.fas.fa-heart {
  opacity: 100%;
  transform: scale(1.5, 1.7);
}
main.menu .carte__dishes {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
main.menu .carte__dishes h2 {
  font-weight: 300;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
  position: relative;
}
main.menu .carte__dishes h2::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 2rem;
  background: #99e2d0;
  bottom: -0.5rem;
  left: 0;
}
main.menu .carte__dishes .button--dish {
  display: flex;
  border-radius: 1rem;
  margin: 0 0 1rem 0;
  letter-spacing: 0;
  justify-content: flex-start;
  text-align: left;
  height: 4.375rem;
  overflow: hidden;
}
main.menu .carte__dishes .button--dish .button__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  padding: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main.menu .carte__dishes .button--dish .button__text > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main.menu .carte__dishes .button--dish .button__text h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
}
main.menu .carte__dishes .button--dish .button__text p {
  font-weight: 300;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
main.menu .carte__dishes .button--dish .button__price {
  padding: 0.8rem 1rem;
  align-self: flex-end;
  font-weight: 700;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
main.menu .carte__dishes .button--dish .button__order {
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #99e2d0;
  width: 0;
  font-size: 1.5rem;
  color: #fff;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
main.menu .carte__dishes .button--dish .button__order i.fas {
  transform: rotate(0turn);
  transition: 0.5s ease-in-out;
}
main.menu .carte__dishes .button--dish:hover .button__order {
  width: 3.75rem;
  transform: scaleX(1);
}
main.menu .carte__dishes .button--dish:hover .button__order i.fas {
  transform: rotate(1turn);
}
main.menu .carte .button--cta {
  margin: 2rem auto 0 auto;
}

/*# sourceMappingURL=main.css.map */
