@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.button {
  @include fonts(medium);
  background: $clr-bg-default;
  border-radius: 2.2rem;
  cursor: pointer;
  letter-spacing: 0.06rem;

  &--cta {
    @include button-shadow(2.2rem);
    align-self: center;
    padding: $padding-button;
    background: $gradient;
    color: $clr-bg-default;
    text-align: center;

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $light-gradient;
      border-radius: 2.2rem;
      content: "";
      opacity: 0;
      transition: all 0.35s ease-in-out;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &--usage {
    // ! Mettre un - counter-reset: number; - dans le container parent de ces boutons
    @include shadow();
    position: relative;
    display: flex;
    padding: $padding-button;
    margin: 0 0 0 0.8rem;
    background: $clr-bg-light;
    border-radius: 1.25rem;
    cursor: auto;

    p {
      @include fonts(bold);
    }

    i.fas {
      margin: 0 0.5rem 0 0.3rem;
      color: map-get($typography, color, grey);
      font-size: 1.2rem;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: -0.8rem;
      display: flex;
      width: 1.6rem;
      height: 1.6rem;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      background: $clr-primary;
      border-radius: 50%;
      color: $clr-bg-default;
      content: counter(number);
      counter-increment: number;
      transform: translateY(-50%);
    }
  }

  &--dish {
    @include button-shadow(1rem);
    display: flex;
    height: 4.375rem;
    justify-content: flex-start;
    margin: 0 0 1rem;
    border-radius: 1rem;
    letter-spacing: 0;
    text-align: left;

    .button__text {
      display: flex;
      overflow: hidden;
      height: 100%;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.8rem 0 0.8rem 0.8rem;
      text-overflow: ellipsis;
      white-space: nowrap;

      > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      h3 {
        @include fonts(title, bold);
      }

      p {
        @include fonts(light);
      }
    }

    .button__price {
      @include fonts(bold);
      align-self: flex-end;
      padding: 0.8rem 1rem 0.8rem 0.2rem;
    }

    .button__order {
      display: flex;
      width: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      background: $clr-tertiary;
      border-radius: 0 1rem 1rem 0;
      color: $clr-bg-default;
      font-size: 1.5rem;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: all 0.5s ease-in-out;

      i.fas {
        transform: rotate(0turn);
        transition: 0.5s ease-in-out;
      }
    }

    &:hover {
      .button__order {
        width: 3.75rem;
        opacity: 1;
        transform: scaleX(1);

        i.fas {
          transform: rotate(1turn);
        }
      }
    }
  }
}
