@use '../utils/variables' as *;
@use '../utils/mixins' as *;

main.accueil {
  padding: 2rem $padding-page;
  background: $clr-bg-light;
  @include responsive(lg) {
    padding: 2rem;
    margin: 2rem $padding-page;
    border-radius: 2rem;
  }
  h1 {
    margin: 0 0 2rem 0;
    @include fonts(heading, bold);
  }
  .container-card {
    margin-bottom: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 37.481259370314845vh;
    @include responsive(landscape) {
      grid-auto-rows: 50vh;
    }
    @include responsive(lg) {
      grid-auto-rows: 35vh;
      margin-bottom: 0;
    }
    // Combiner pseudo-classe & pseudo-element
    // pour créer les boutons désignant un nouveau restaurant
    // ::after est déjà utilisé pour créer des ombres portées
    // plus forte, donc on utilise ::before pour ne pas avoir
    // de conflits.
    .card:nth-of-type(-n + 2)::before {
      content: "Nouveau";
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.8rem;
      padding: 0.5rem 0.8rem;
      border-radius: 0.2rem;
      @include shadow();
      z-index: 2;
      background: $clr-tertiary;
      color: darken($clr-tertiary, 40%);
      font-size: 0.875rem;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      letter-spacing: 0.04rem;
    }
  }
}
